
.logo--big{
  top: 53%;
  left: 50%;
  width: 260%;
  height: 260%;
  position: absolute;
  transform: translate(-50%, -50%);
}


.frontSvg{
  font-size: 45px;

  	@media(max-width:768px) {
		font-size: 35px;
	}

	
  	@media(max-width:425px) {
		font-size: 20px;
	}
}