.auth-container{
  height: 100vh;
  display: flex;


  &__left{
    flex: 0 0 50%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #71C9F8;

  &-about{
    list-style: none;
    width: 380px;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &-item{
    margin-bottom: 40px;
  }

  &-title{
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: 700;

    &-el{
      font-size: 32px;
      margin-right: 15px;
    }
  }
  }


  &__right{
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-loginSide{
      width: 380px;


      svg{
        font-size: 45px;
      }

      h4{
        font-size: 32px;
        margin-top: 20px;
        font-weight: 700;
        margin-bottom: 60px;
      }

      p{
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif;
        font-weight: 700;
        line-height: 1.5;
      }
    }
  }
}

