
.messenger{
    justify-content: space-between;
    padding: 15px;
    flex-grow: 2;
    background-color: white;

    &__wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

         #settings {
            border-radius: 5px;
            position: absolute;
            z-index: 15;
            right: 130px;
            top: 110px;
            padding: 5px;
            border: 1px solid #d9d9d9;
            background-color: #fff;
            display: flex;
            flex-direction: column;

            &>div {
                position: relative;
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                .fa-icon {
                    position: relative;
                    font-size: 20px;
                    color: rgb(29, 161, 242);
                    margin-right: 5px;
                    min-width: 20px;
                }
            }

            p {
                margin: 5px 0;
                color: #000;
            }


			@media (min-width: 800px) {
				border-radius: 5px;
				position: absolute;
				z-index: 15;
				right: 50px;
				top: 285px;
				padding: 5px;
				border: 1px solid #d9d9d9;
				background-color: #fff;
				display: flex;
				flex-direction: column;
        	}
        }


        &>.fa-icon {
            font-size: 20px;
            color: rgb(29, 161, 242);
            right: 0;
            position: absolute;
            top: 0;
            cursor: pointer;
        }
    }

    hr {
        border-top: 1px solid #cfcfcf;
        width: 100%;
        margin-bottom: 10px;
    }
}

